[user]
	name = Juan Zuniga
	email = jzunigaruiz@csumb.edu
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = current